// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.h_btn {
  padding: 10px 20px;
  margin: 10px;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
}
.divination {
  display: none;
  margin: 50px;
  font-size: 100px;
}
